@layout.app({ title: "Not found..." })
  @slot('meta')
    <meta name="description" content="Not found...">
  @endslot

  @slot('main')
    <section class="text-center py-24 px-4">
      <h2 class="text-4xl md:text-5xl font-extrabold mb-6 text-white">Not found...</h2>
    </section>
  @endslot
@end
