@layout.app({ title: "Server error..." })
  @slot('meta')
    <meta name="description" content="Server error...">
  @endslot

  @slot('main')
    <section class="text-center py-24 px-4">
      <h2 class="text-4xl md:text-5xl font-extrabold mb-6 text-white">Server error</h2>
    </section>
  @endslot
@end
